<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809461454117-7ogb3erdh31cs5c17o71l4menepf5vub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809461454117-7ogb3erdh31cs5c17o71l4menepf5vub</string>
	<key>API_KEY</key>
	<string>AIzaSyB_LnvO4F6-Yee-eygXaX7GYp1HT_fVob8</string>
	<key>GCM_SENDER_ID</key>
	<string>809461454117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dfist19</string>
	<key>PROJECT_ID</key>
	<string>dfist-19</string>
	<key>STORAGE_BUCKET</key>
	<string>dfist-19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809461454117:ios:df9d5d4c27c9c44b9d36cc</string>
	<key>DATABASE_URL</key>
	<string>https://dfist-19.firebaseio.com</string>
</dict>
</plist>